<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gialen.baselib">

    <application>
        <activity android:name=".ui.LoginPhoneActivity"/>
        <activity android:name=".NoShareWebViewActivity"/>
        <activity android:name=".ui.LoginPhoneCodeActivity" />
    </application>
</manifest>
